<div class="contenedor">
    <img src="../../../assets/img/blockchain.png" />
    <div class="contenedor-pequeno">
        <div class="span">
            <!-- <span>Blockchain</span> -->
            <img src="../../../assets/img/ethereum.svg" class="ethereum">
        </div>

        <form #registerForm="ngForm" (ngSubmit)="consultarHash()" >
            <input type="text" name="hash" #hash="ngModel" [(ngModel)]="idTransaccion.hash" placeholder="Introduce tu identificador de transacción">
            <button type="submit" class="btn btn-info">Consultar</button>
        </form>
    </div>
</div>
