body {
    background-image: url('../../../assets/img/blockchain.png');
}

@font-face {
    font-family: 'Open';
    src: url('../../../assets/font/OpenSans-Light.ttf');
}

.contenedor img {
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: -53px;
    margin-left: -8px;
    font-family: 'Open';
}

.contenedor-pequeno {
    height: 50%;
    position: absolute;
    top: 34%;
    left: 50%;
    border-radius: 15px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #2b748954;
    width: 50%;
    font-family: 'Open';
}

input {
    margin-top: 12%;
    margin-left: 3%;
    width: 91%;
    border-radius: 9px;
    padding: 7px;
    border: none;
    text-align: center;
    font-family: 'Open';
}

button {
    margin-top: 20px;
    margin-left: 44%;
    font-family: 'Open';
}

.span {
    margin-top: 28px;
    font-size: 35px;
    margin-left: 37%;
    color: whitesmoke;
    font-family: 'Open';
}