

<div class="container-fluid">
    <span>Cuentas:</span>
    <!-- *ngFor="let cuenta of cuentas" -->
    <ul class="list-group list-group-flush">
      <!-- {{cuenta.data.iban}} -->
        <li class="list-group-item"><a [routerLink]="['/cuenta-desglose']">ES23423543535354</a></li>
              <!-- {{cuenta.data.currency}} -->
        <li class="list-group-item">EUR</li>
              <!-- {{cuenta.data.product}} -->
        <li class="list-group-item">Producto</li>
        <br><hr/>
      </ul>
</div>
