<!-- Barra de Navegación -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#">
        <img src="../assets/img/liberbank-reto.png" width="30" height="30" alt="">
    </a>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button class="btn btn-warning" type="submit" data-toggle="modal" data-target="#exampleModal">Acceso Clientes</button>
                <!-- <a class="nav-link" [routerLink]="['/home']">Login <span class="sr-only">(current)</span></a> -->
            </li>
            <li class="segundo ">
                <button class="btn btn-outline-warning segundo">Hazte Cliente</button>
            </li>
        </ul>
    </div>
</nav>

<!-- Imagen de fondo -->
<div class="fondo">
    <div class="contenedor">
        <img src="../assets/img/fondo.jpg" class="w-100" />
        <!-- Boton sobre imagen de fondo -->
        <!-- <button type="button" class="btn btn-warning boton">Acceso Clientes</button> -->
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>