body {
    padding-top: 70px;
    background-image: url('../assets/img/fondo.jpg');
}

.navbar-brand img {
    width: 90px;
}

.nav-item .btn {
    padding: 0px !important;
    font-size: 14px !important;
    white-space: nowrap;
    margin-left: 870%;
}

.segundo {
    padding: 1px !important;
    font-size: 13px !important;
    white-space: nowrap;
    margin-left: 332%;
    margin-top: 1px;
}

.contenedor {
    text-align: center;
}

.contenedor img {
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    top: 57px;
    right: 0px;
}


/* BOTON SOBRE IMAGEN DE FONDO */


/* .boton {
            position: absolute;
            top: 75%;
            left: 50%;
            border-radius: 15px;
            transform: translate(-50%, -50%);
        } */