body {
    padding-top: 70px;
    background-image: url('../assets/img/fondo.jpg');
}

.navigation {
    padding: 0px !important;
    border-radius: 0px !important;
}

.navigation .navbar {
    border-radius: 0px !important;
}

.navbar-brand img {
    width: 110px;
}

.btn-warning {
    padding: 1px !important;
    margin-top: 6px !important;
}

.btn-outline-warning {
    margin-left: 7px !important;
    padding: 2px !important;
    margin-top: 5px !important;
}


/* 
.contenedor {
    text-align: center;
}

.contenedor img {
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    top: 57px;
    right: 0px;
} */


/* BOTON SOBRE IMAGEN DE FONDO */


/* .boton {
            position: absolute;
            top: 75%;
            left: 50%;
            border-radius: 15px;
            transform: translate(-50%, -50%);
} */