@font-face {
  font-family: 'Open';
  src: url('../../../assets/font/OpenSans-Light.ttf');
}

span {
  font-size: 20px;
    margin-left: 17px;
  font-family: 'Open';
}

.container-fluid {
    width: 75%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 3%;
    margin-top: 19px;
}

